:root {
  --color-azul: #063970;
  --color-amarillo: #ffd700;
  --color-verde: #2e6b34;
  --color-verde-oscuro: #1e4a24;
  --color-blanco: #ffffff;
  --color-gris-claro: #f5f5f5;
  --color-gris: #e0e0e0;
  --color-texto: #333333;
  --color-texto-claro: #cccccc;
  --color-naranja-boton: #d25a1d;
  --color-naranja-boton-oscuro: #f16e2c;
}
